{% extends 'layouts/_default.twig' %}

{% block app %}
    <h1>New Galaxy Form</h1>
    <form method="POST"
        {% if galaxy is defined %}
            action="/galaxies/{{galaxy.id}}"
        {% else %}
            action="/galaxies"
        {% endif %}>
        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text"
            {% if galaxy is defined %}
                value="{{galaxy.name}}"
            {% endif %}/>
        </div>

        <div>
            <label for="size">Size</label>
            <input id="size" name="size" type="number"
            {% if galaxy is defined %}
                value="{{galaxy.size}}"
            {% endif %}/>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="description" name="description"/>{% if galaxy is defined %}{{galaxy.description}}{% endif %}</textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock app %}