{% extends 'layouts/_default.twig' %}

{% block app %}
    <div class="flex-col align-items-center">
        <h1 class="text-center">List of Galaxies</h1>
        <a href="/galaxies/create">
            <button type="button">Add New Galaxy</button>
        </a>
    </div>
    {% for galaxy in galaxies %}
        {% include 'partials/_galaxy.html.twig' with galaxy %}
    {% endfor %}
{% endblock %}