{% extends 'layouts/_default.twig' %}

{% block app %}
    <h1>New Galaxy Form</h1>
    <form method="POST" enctype="multipart/form-data"
        action="/galaxies{% if galaxy is defined %}/{{galaxy.id}}{% endif %}">
        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text"
            {% if galaxy is defined %}
                value="{{galaxy.name}}"
            {% endif %}/>
        </div>

        <div>
            <label for="size">Size</label>
            <input id="size" name="size" type="number"
            {% if galaxy is defined %}
                value="{{galaxy.size}}"
            {% endif %}/>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="description" name="description"/>{% if galaxy is defined %}{{galaxy.description}}{% endif %}</textarea>
        </div>

        <div>
            <label for="image">Upload Image:</label>
            <br/>
            <input type="file" name="image" id="image" />
        </div>

        <button type="submit">Submit</button>
    </form>
{% endblock app %}