{% extends 'layouts/_default.twig' %}

{% block app %}
    <div class="flex-col align-items-center">
        <h1 class="text-center">List of Stars</h1>
        <a href="/stars/create">
            <button type="button">Add New Star</button>
        </a>
    </div>
    {% for star in stars %}
        {% include 'partials/_star.html.twig' with star %}
    {% endfor %}
{% endblock %}