{% extends 'layouts/_default.twig' %}

{% block app %}
    <h1>List of Stars</h1>
    <a href="/stars/create">
        <button type="button">Add New Star</button>
    </a>
    <ul>
        {% for star in stars %}
            <li>
                {% include 'partials/star.html.twig' with star %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}