<header class="header-bg">
    <nav class="container flex justify-content-center">
        <a href="/">Home</a>
        <a href="/planets">Planets</a>
        <a href="/stars">Stars</a>
        <a href="/galaxies">Galaxies</a>
    </nav>
</header>