{% extends 'layouts/_default.twig' %}

{% block app %}
    <h1>List of Planets</h1>
    <a href="/planets/create">
        <button type="button">Add New Planet</button>
    </a>
    <ul>
        {% for planet in planets %}
            <li>
                {% include 'partials/planet.html.twig' with planet %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}